body {
  background-color: #000;
  font-size: 16px;
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  color: #bdb2ae;
  text-align: center;
}
.nav-item {
  margin-left: 25px;
}

.navbar-toggler {
  background-color: rgb(0, 0, 0);
  color: white;
}

.jazzyspoonlogo {
  padding-top: 10px;
}

.player {
  position: relative;
  margin-top: 80px;
  margin-left: 60px;
  width: 300px;
  border-radius: 10px;
}

.spotifyalbums {
  padding-top: 100px;
  padding-bottom: 300px;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.btn-success {
  width: 60px;
  padding-top: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0;
}

.btn-danger {
  padding-top: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0;
}

.videocard {
  margin: 6px;
  height: 450px;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.541);
  border-width: 1px;
  border-color: azure;
}

.btn-success {
  color: rgb(255, 255, 255);
}

.youtube-player {
  margin: 10px;
}

.imageLink {
  height: 150px;
  width: 150px;
  margin: 0px;
}

.video-window {
  width: 500px;
  height: 580px;
}

.releases {
  height: 190px;

  margin: 20px;
}

.card-img {
  height: 100px;
  width: 100px;
}

.card-img-top {
  height: 140px;
}

.column {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
}

.px-4 {
  height: 300px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 11px;
  text-transform: capitalize;
  text-align: right;
  color: #fff;
}

.title {
  font-size: 24px;
}

.linkbox {
  font-weight: bold;
  width: auto;
  height: auto;
  float: left;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.linkbox:hover {
  border-color: #333;
}

.linkHead {
  background: #fff;
  width: auto;
  display: block;
  color: #999999;
}

#container {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
}

.smallerLink {
  width: 100px;
  height: 50px;
}

#notice {
  font-style: italic;
  font-size: 11px;
  width: 500px;
}

.iframe {
  margin-top: 20px;
  width: auto;
}

.clearfloat {
  overflow: auto;
  width: 100%;
}

.soundcloud {
  display: flex;
  width: 100%;
  scroll-behavior: auto;
}

.presets {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.album {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}

.videoimage {
  height: 150px;
  width: auto;
}

@media screen and (max-width: 760px) {
  * {
    text-align: center !important;
  }
}
